<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Hệ Thống Tuyển Dụng</h5>
                <p>Kết nối nhà tuyển dụng và ứng viên một cách hiệu quả.</p>
            </div>
            <div class="col-md-4">
                <h5>Liên Kết</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Trang Chủ</a></li>
                    <li><a href="/viec-lam" class="text-white">Việc Làm</a></li>
                    <li><a href="/gioi-thieu" class="text-white">Giới Thiệu</a></li>
                    <li><a href="/lien-he" class="text-white">Liên Hệ</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Liên Hệ</h5>
                <address>
                    <p><i class="fas fa-map-marker-alt me-2"></i> Địa chỉ: Số 1, Đường ABC, Thành phố XYZ</p>
                    <p><i class="fas fa-phone me-2"></i> Điện thoại: (123) 456-7890</p>
                    <p><i class="fas fa-envelope me-2"></i> Email: info@jobportal.com</p>
                </address>
                <div class="social-links">
                    <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p class="mb-0">&copy; <%= new Date().getFullYear() %> Hệ Thống Tuyển Dụng. All rights reserved.</p>
        </div>
    </div>
</footer>
